<app-header></app-header>
<p-confirmDialog ></p-confirmDialog>
<p-toast></p-toast>
<div class="center-element">
    <p-dataView #dv [value]="cars" [paginator]="true" [rows]="4" filterBy="name"
    layout="grid">
       
       <ng-template pTemplate="header">
           
           <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
               <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <div class="search-input-div">
                         <input type="search" pInputText placeholder="chercher par nom" (input)="dv.filter($event.target.value)">
                    </div>
                  
                   
               </span>
           </div>
       </ng-template>
       <ng-template  let-product pTemplate="gridItem">
        <p-card [header]="product.name" [subheader]="'prix: '+product.prix+'£'" [style]="{width: '310px','margin-left': '1em','margin-top':'1em','min-height':'500px',
        'position':'relative' }" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="product.img" height="200px">
            </ng-template>
            <p class="card-paragraph">nombre de personne: <span> {{product.nbrePer}} </span>  </p>
            <p class="card-paragraph">nombre de port: <span> {{product.nmbrePort}} </span>  </p>
            <p class="card-paragraph">vitesse: <span> {{product.vitesse}} </span>  </p>
            <p class="card-paragraph">Option: <span> {{product.option}} </span>  </p>
            <div>
                <p-button label="reserver" icon="pi pi-calendar-plus" (click)="confirm()"></p-button>
               
            </div>
        </p-card>
      
           
       </ng-template>
   </p-dataView>
</div>

<app-footer></app-footer>