<app-header></app-header>
<div>
    <p-dataView #dv [value]="cars" [paginator]="true" [rows]="3" filterBy="name"
    layout="grid">
       
       <ng-template pTemplate="header">
           
           <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
               <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <div class="search-input-div">
                         <input type="search" pInputText placeholder="chercher par nom" class="search-input" (input)="dv.filter($event.target.value)">
                    </div>
                  
                   
               </span>
           </div>
       </ng-template>
      
       <ng-template  let-product pTemplate="gridItem" >
            <div class="p-col-12 p-md-3">
                         <div class="product-grid-item card">
                   <div class="product-grid-item-top">
                       <div>
                           <img [src]="product.img" class="image-list" alt="">
                           <!-- <span class="product-category">{{product.id}}</span> -->
                       </div>
                       <div style="display: flex; flex-direction: column;justify-content:center;align-items: center;">
                            <span class="product-name" style="color: #0A4D8D ">{{product.name}}</span>
                            <button pButton label="detail" class="p-button-outlined p-button-success"   style="margin-bottom:3px;"></button>
                            <p-button label="reserver" icon="pi pi-plus" (click)="supprimer(product.id)"  iconPos="left"></p-button>
                       </div>
                      
                   </div>
                   <div class="product-grid-item-content">
                       <div class="product-badge status">{{product.description}}</div>
                       <div class="product-name">{{product.prix}}$</div>
                   </div>
                   <div class="product-grid-item-bottom mt-3">
                       <!-- <span class="product-price">{{product.tel}}</span> -->

                  
                   </div>
               </div>
            </div>
      
           
       </ng-template>
   </p-dataView>
</div>

<app-footer></app-footer>