<header class="header">
    <app-navbar style="width: 100%;"></app-navbar>


    <div class="content  bounce-in ">
        <div class="container">
            <h2>Roulez, nous faisons le reste </h2>
            <!-- <div class="hrr"></div> -->
            
        </div>

        <div class="container">
            <h3>Book Now !</h3>
           
        </div>

        <!-- chtetbaddel form ba3d kel div card -->
            <div class="card">
                <div class="input-element" id="element">
                    <label for="adresse">PRISE DU VÉHICULE :</label>
                    <input type="text" placeholder="tapez l'emplacement" id="resize">
                </div>

                <div class="input-element" id="element">
                    <label for="adresse">RETOUR DU VÉHICULE :</label>
                    <input type="text" placeholder="tapez l'emplacement" id="resize">
                </div>

                <div class="input-element">
                    <label for="date d'épare">Date Debut</label>
                    <input type="date">
                </div>

                <div class="input-element">
                    <label for="date d'épare">Date Fin</label>
                    <input type="date">
                    
                </div>
         
                <div class="input-element">
                   <button routerLink="/home/list"><i class="fa fa-search"></i></button> 
                </div>


            </div>
        
    </div>


</header>
