
.header
{

    display: flex;
    align-items: flex-start;
    background-image: linear-gradient(
        rgba(0, 0, 0,0.6), 
        rgba(0, 0, 0, 0.3)
      ), url('../../../../assets/background.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 110px);
    flex-direction: column;

}


/* .responsive-bar{
    
    font-size: 90px;
    color: #0A4D8D;
    display: none;
} */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* color: #2E5E8E; */
    color: #fff;
    margin-top:4em;
    flex-direction: column;
    letter-spacing: 4px;
 
}
.container
{
    max-width: 100%;
    margin: 0 auto;
    width:1000px;
    padding:0 1rem;

}

.content .container h2
{
    
    font-size: 28px;
  
    text-align: center;
    text-transform: uppercase;
}
.content .container h3
{
    font-size: 17px;
    margin-top:-10px;
    color:rgb(230 170 0);
    text-align: center;
}

.card
{
    display: flex;
    background-color: rgb(255, 255, 255,0.6);
    padding: 6px 20px;
    border-radius: 32px;
    border: 1px solid #DDDDDD !important;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
    margin-top: 1rem;
 
}

.input-element
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #000;
    height: 45px;
    padding-left: 30px;
    border-radius: 30px;
   
}

.input-element input{
    border: none ;
    outline-width: 0;
    /* border-bottom: 1px solid gray; */
    background-color: rgb(255, 255, 255,0 );
}

 
.input-element:nth-last-child(1)
{
   
    padding: 8px;
}


.input-element:nth-last-child(2)
{
    margin-right: 2rem;
}

.input-element label{
    font-size: 16px;
    color:#0A4D8D ;
}
.input-element input[type="text"]
{
    width:20vh;
    font-size: 15px;
    font-family: 'Arimo';
}
.input-element button{
    border: none;
    background: none;
    outline-width: 0;
}
.fa-search
{
    font-size:30px;
    color: #0A4D8D;
}
.fa-search:hover{
    /* color: blue; */
    cursor: pointer;
   
    color: rgb(230 170 0);
}



.bounce-in {
    animation: bounce-in 1s ease ;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
  
  }



  @media screen and (max-width: 700px)
  {
      .header{
          height: 100vh;
      }
     .content{
         margin-top:0;
     }
     .content .container h2
     {
        font-size: 17px;
     }

    .content .container h3 {
        font-size: 14px;
    }

    .card{
        flex-direction: column;
        padding:1rem 0;
        width:300px;
    }
    .input-element{
        padding-left: 20px;
    }
    .input-element:not(:first-child){
        margin-top:1rem;
    }
    .card .input-element input[type="text"]
    {
        border-bottom: solid 1px gray;
        width: 80%;
    }
  }
